.container {
    -fx-background-color: #EEEEEE;
}

.title_container {
    -fx-alignment: center;
}

.title_container Label {
    -fx-alignment: center;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}


.container Text {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
    -fx-fill: #555555;
}

.container .main_VBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #000000;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.tab_VBox{
-fx-spacing: 5;
}


.container TextField {
    -fx-pref-width: 50px;
    -fx-pref-height: 35;
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.container .choice-box {
    -fx-pref-width: 80px;
    -fx-pref-height: 35px; /* Corectat la 35px pentru a respecta unitatea */
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.container .choice-box .context-menu {
    -fx-background-color: #e0e0e0;
    -fx-pref-width: 80px;
}

.container .choice-box .menu-item:focused {
    -fx-background-color: #AAAAAA; /* Culoarea de fundal pentru elementul focusat */
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3); /* Efectul de umbră */
    -fx-scale-x: 1.3; /* Mărirea pe axa X */
    -fx-scale-y: 1.3; /* Mărirea pe axa Y */
}

/*.container .choice-box .menu-item > .label {*/
/*    -fx-text-fill: white;*/
/*}*/

/*.container .choice-box .menu-item:focused > .label {*/
/*    -fx-text-fill: black;*/
/*}*/

.container .choice-box .list-cell {
    -fx-background-color: #e0e0e0;
    -fx-pref-width: 80px;
}

.container Button {
    -fx-background-color: linear-gradient(to right, #005B43, #228B22);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 150;
    -fx-font-size: 1.3em;
    -fx-text-fill: #FFFFFF;
}

.container .users_container {
}


.container .users_container {
    -fx-alignment: center;
}

.container .users_container .tab {
    -fx-pref-width: 30em;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #333333;
    -fx-padding: 8px;
}

.container .users_container Button {
    -fx-background-color: linear-gradient(to right, #005B43, #228B22);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-font-size: 1.6em;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri Light";
    -fx-pref-width: 200;
}

.container .users_container .tab:selected {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.container .users_container .tab:hover {
    -fx-background-color: #c0c0c0;
}



