.information_container {
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;
}

.label_container Label{
    -fx-spacing: 2;
}
.information_container Text {
    -fx-fill: #EEEEEE;
}

.information_container Label {
    -fx-alignment: center;
    -fx-wrap-text: true;
}
