.transactions_container{
    -fx-background-color: transparent;
}

.lbl_VB{
    -fx-alignment: center;
}

.title_lbl {
    -fx-alignment: center;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.transactions_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-weight: 700;
}

.transactions_container .list-view {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.transactions_container .list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.transactions_container .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: #e1dede;
    -fx-border-width: 0 0 1px 0;
    -fx-pref-width: 800;
}

.new_trans_container{
    -fx-background-color: transparent;
    -fx-padding: 20 300 20 300;
    -fx-spacing: 10;
    -fx-alignment: center_left;
    -fx-font-weight: 700;

}

.new_trans_container Label{
    -fx-font-weight: bold;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.new_trans_container TextField{
    -fx-pref-height: 40;
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.new_trans_container TextArea{
    -fx-pref-height: 40;
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.new_trans_container Button{
    -fx-background-color: linear-gradient(to right, #005B43, #228B22);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 400;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.new_trans_container Button:hover{
    -fx-cursor: hand;
}

.scroll-bar:vertical {
    -fx-background-color: transparent; /* Fundal transparent */
    -fx-pref-width: 12px; /* Lățimea scroll-ului */
}
.scroll-bar .thumb {
    -fx-background-color: #AAAAAA;
}