.search_container{
    -fx-background-color: #EEEEEE;
}

.search_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.search_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
}

.search_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}

.searchbox_container{
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}

.searchbox_container Text{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.searchbox_container TextField{
    -fx-pref-height: 40;
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.searchbox_container Button{
    -fx-background-color: linear-gradient(to right, #005B43, #228B22);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 400;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.searchbox_container Button:hover{
    -fx-cursor: hand;
}