.container {
    -fx-background-color: #EEEEEE;
}

.title_container {
    -fx-alignment: center;
}

.title_container Label {
    -fx-alignment: center;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.container Text {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.container .searchbox_container .list-view {
-fx-background-color: transparent;
}

.container .searchbox_container .list-view .list-cell:selected {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.container .searchbox_container .list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}


.searchbox_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 0 0 0 0;
    -fx-spacing: 5;
}

.searchbox_container Text {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.searchbox_container TextField {
    -fx-pref-height: 40;
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.searchbox_container Button:hover {
    -fx-cursor: hand;
}