.container .list-view {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.container:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: #EEEEEE;
}

.container .list-cell {
    -fx-background-color: transparent;
}

.container .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}


.title_container {
    -fx-font-size: 2.0em;
    -fx-font-family: "Calibri Light";
    -fx-alignment: center;

}

.container .list-cell:focused {
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 5);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-radius: 10;
    -fx-background-color: #C8C8C8;
}