.listview_container {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.listview_container .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: #e1dede;
    -fx-border-width: 0 0 1px 0;
}

.listview_container .list-cell:selected {
    /*-fx-border-color: transparent;*/
    /*-fx-background-color: transparent;*/
    /*-fx-border-width: 0;*/

}

.listview_container .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}