.login_logo_container {
    -fx-background-color: #005B43;
    -fx-alignment: center;
}

.login_logo_container Text{
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}
